@use '../../../styles/h5p-text-grouping.scss' as styles;

.expand-collapse-button {
  display: none;
}

@media only screen and (max-width: styles.$medium-screen-size) {
  .expand-collapse-button {
    display: inline;
    border: none;
    background: none;
  }

  .expanded-state {
    &:before {
      font-family: 'Material Icons';
      font-size: 2em;
      content: '\e5c5';
      color: styles.$color-collapse-expand-button;
    }
  }

  .collapsed-state {
    transform: rotate(-90deg);
    &:before {
      font-family: 'Material Icons';
      font-size: 2em;
      content: '\e5c5';
      color: styles.$color-collapse-expand-button;
    }
  }
}
