$text-color: #1e2d47;
$border-color-neutral: #dbe2e8;
$h5p-question-background: #ffffff;
$text-item-background-neutral: #f5f7ff;
$text-item-background-dark: #deeafa;
$text-item-border-color: #1a73d9;
$disabled-text-color: #969696;

$action-icon-color: #4174cc;
$action-icon-color-light: #cfe4ff;
$action-icon-color-dark: #2f5596;

$dropzone-background-neutral: #f0f3fa;
$dropzone-border-color: #287ec9;

$color-collapse-expand-button: #121212;
$color-collapse-expand-button-hover: #4d4d4d;

$color-correct-light: #edfff0;
$color-correct-dark: #6ea776;
$color-correct-text: #4d7a53;
$color-wrong-light: #ffe6e3;
$color-wrong-dark: #d33120;
$color-show-correct-dark: $text-item-border-color;
$color-show-correct-light: #e4edf7;
