$cornflower-blue-dark: #1e2d47;
$border-color-neutral: #dbe2e8;
$text-item-background-neutral: #f5f7ff;
$dropzone-background-neutral: #f0f3fa;
$color-collapse-expand-button: #121212;
$disabled-text-color: #969696;
$text-item-height: 3em;
$small-screen-size: 640px;
$medium-screen-size: 768px;
