@use 'sass:math';
@use '../../styles/h5p-text-grouping.scss' as styles;

.text-item-wrapper {
  padding: 0.375em 0 0.375em 0;
  position: relative;
  backface-visibility: hidden;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  &.animate {
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .text-item-border {
      animation: flashBorder;
      animation-delay: .5s;
      animation-duration: .5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
  }

  .text-item-border {
    padding: 0.25em;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: styles.$border-color-neutral;
    box-shadow: 4px 4px 4px #cccccc8f;

    .text-item {
      background-color: styles.$text-item-background-neutral;
      border-radius: 5px;
      padding: 0.5em;

      display: flex;
      align-items: center;
      justify-content: space-between;

      color: styles.$cornflower-blue-dark;
      font-family: Arial;
      font-size: 1em;
      line-height: 2em;
    }

    .dropdown-wrapper {
      top: calc(50% + 1.2em);
      position: absolute;
      width: calc(100% - 0.75em);
    }

    .button-move-to-category {
      border: none;
      background: none;
      margin-left: 0.75em;
    }
    .icon-move-to-category {
      &:before {
        font-family: 'Material Icons';
        font-size: 2em;
        content: 'more_horiz';
        color: #4174cc;

        border-radius: 5px;
        border-width: 0.1em;
        border-style: solid;
        border-color: #4174cc;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes flashBorder {
  0% {
    border-color: styles.$border-color-neutral;
  }
  50% {
    border-color: #4174cc;
  }
  100% {
    border-color: styles.$border-color-neutral;
  }
}
