@use 'sass:math';
@use '../../styles/' as styles;

.text-item-wrapper {
  padding: 0.375em 0 0.375em 0;
  position: relative;
  backface-visibility: hidden;

  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  &.animate {
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    .text-item-border {
      animation: flashBorder;
      animation-delay: 0.5s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: linear;
    }
  }

  &.correct {
    .text-item-border {
      border-color: styles.$color-correct-dark;

      .text-item {
        color: styles.$color-correct-text;
        background-color: styles.$color-correct-light;
      }

      .solution-icon:before {
        @include styles.solution-icon('check_circle', styles.$color-correct-dark);
      }
    }
  }

  &.wrong {
    .text-item-border {
      border-color: styles.$color-wrong-dark;

      .text-item {
        color: styles.$color-wrong-dark;
        background-color: styles.$color-wrong-light;
      }

      .swap-icon:before {
        @include styles.swap-icon(styles.$color-wrong-dark);
      }

      .solution-icon:before {
        @include styles.solution-icon('cancel', styles.$color-wrong-dark);
      }
    }
  }

  &.show-correct {
    .text-item-border {
      border-style: dotted;
      border-color: styles.$color-show-correct-dark;

      .text-item {
        color: styles.$color-show-correct-dark;
        background-color: styles.$color-show-correct-light;
      }

      .swap-icon:before {
        @include styles.swap-icon(styles.$color-show-correct-dark);
      }

      .solution-icon:before {
        @include styles.solution-icon('check_circle', styles.$color-show-correct-dark);
      }
    }
  }

  .text-item-border {
    padding: 0.25em;

    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    border-color: styles.$border-color-neutral;
    box-shadow: 4px 4px 4px #cccccc8f;

    .text-item {
      background-color: styles.$text-item-background-neutral;
      border-radius: 5px;
      padding: 0em 0.5em;

      display: flex;
      align-items: center;
      justify-content: space-between;

      color: styles.$cornflower-blue-dark;
      font-family: Arial;
      font-size: 1em;
      line-height: 3em;

      .content {
        flex-grow: 1;
      }
    }

    .dropdown-wrapper {
      top: calc(50% + 1.2em);
      position: absolute;
      width: calc(100% - 0.75em);
    }

    .button-move-to-category {
      border: none;
      background: none;
      margin-left: 0.75em;
    }

    .icon-move-to-category {
      &:before {
        font-family: 'Material Icons';
        font-size: 2em;
        content: 'more_horiz';
        color: styles.$action-icon-color;

        border-radius: 5px;
        border-width: 0.1em;
        border-style: solid;
        border-color: styles.$action-icon-color;
      }
    }
  }
}

.offscreen {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes flashBorder {
  0% {
    border-color: styles.$border-color-neutral;
  }
  50% {
    border-color: styles.$text-item-border-color;
  }
  100% {
    border-color: styles.$border-color-neutral;
  }
}
