@use '../../styles/h5p-text-grouping.scss' as styles;

.uncategorized {
  padding: 0.5em 0.5em;
  border-style: solid;
  border-width: 2px;
  border-color: styles.$border-color-neutral;
  border-radius: 5px;
}

.uncategorized-heading {
  padding: 0.7em 0.5em 0em;
  overflow-wrap: anywhere;
  font-weight: bold;
}

.uncategorized-list {
  padding: 0em 0.5em;
  list-style-type: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1em;

  @media screen and (max-width: styles.$small-screen-size) {
    grid-template-columns: 1fr;
  }
}
