@use '../../styles/h5p-text-grouping.scss' as styles;

.categoryList {
  padding: 1em;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(2, 1fr);

  @media only screen and (max-width: styles.$column-wrap-width) {
    grid-template-columns: 1fr;
  }
}